body,html{--bg-color:black;--inner-color:#ffef99aa;--inner-hover-color:#ffc4ffaa;--main-color:#ffef99;--main-hover-color:#ffc4ff;--transition-length:.3s;width:100vw;height:100vh;margin:0%;padding:0%}
